@media (max-width: 575.98px){
    body{
        background-size: cover;
    }

    header > nav > img{
        width: 110px;
    }

    #home{
        margin-bottom: 230px;
        height: 500px;
    }

    #Tv{
        height: 650px;
    }

    #dispositivos{
        height: 650px;
    }

    #infatil{
        height: 720px;
    }

    section#perguntas{
        height: 1020px;
    }

    section#final{
        height: 555px;
        border-bottom: none;
    }

    #p_home{
        font-size: 18px; margin-bottom: 20px;
    }
    
    #p2_home{
        font-size: 18px;
    }

    a#email, a#email_final{
        width: 140px;
        height: 48px;
        margin-left: 5px;
        margin-top: 20px;
        padding: 7px 12px 0 15px;
        font-size: 1.2em;
    }

    h1{
        font-size: 32px;
    }

    .p-perguntas{
        font-size: 18px;
        margin-bottom: 0;
    }

    .final_perguntas{
        font-size: 18px;
    }

    #icon_1{
        padding-left: 190px;
    }
    
    #icon_2{
        padding-left: 145px;
    }
    
    #icon_3{
        padding-left: 170px;
    }
    
    #icon_4{
        padding-left: 127px;
    }
    
    #icon_5{
        padding-left: 60px;
    }
    
    #icon_6{
        padding-left: 48px;
    }

    .caixa-perguntas{
        width: 396px;
        margin: auto;
    }

    .p-perguntas{
        padding-top: 10px;
    }

    #select-final{
        width: 118px;
    }

    .caixa-1, .caixa-3 {
        width: 200px;
    }

    .caixa-2{
        width: 200px;
    }

    .caixa-4{
        width: 200px;
    }

    .p-respostas{
        font-size: 18px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    #icon_1{
        padding-left: 230px;
    }
    
    #icon_2{
        padding-left: 155px;
    }
    
    #icon_3{
        padding-left: 200px;
    }
    
    #icon_4{
        padding-left: 130px;
    }
    
    #icon_5{
        padding-left: 20px;
    }
    
    #icon_6{
        padding-left: 3px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    #icon_1{
        padding-left: 415px;
    }
    
    #icon_2{
        padding-left: 340px;
    }
    
    #icon_3{
        padding-left: 385px;
    }
    
    #icon_4{
        padding-left: 315px;
    }
    
    #icon_5{
        padding-left: 200px;
    }
    
    #icon_6{
        padding-left: 180px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
    #icon_1{
        padding-left: 635px;
    }
    
    #icon_2{
        padding-left: 560px;
    }
    
    #icon_3{
        padding-left: 605px;
    }
    
    #icon_4{
        padding-left: 535px;
    }
    
    #icon_5{
        padding-left: 425px;
    }
    
    #icon_6{
        padding-left: 410px;
    }
}