*{
    padding: 0;
    margin: 0;
}

body, html{
    height: 100%;
}

#home{
    height: 605px;
}

body{
    background-color: black;
    background-image: url(../img/fundo_topo_camada_2.png),
                      url(../img/fundo_topo_camada.png),
                      url(../img/fundo_topo.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    color: white;
}

/*Formatações Gerais
---------------------*/
h1{
    margin-bottom: 18px;

    letter-spacing: 0px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

p{
    font-size: 1.5em;
}

section{
    height: 550px;
    border-bottom: 7px solid #262626;
}

#input_email.form-control, #input_email_final.form-control{
    height: 56px;
    padding: 6px 20px;
}

#input_email_final.form-control{
    width: 394px;
}

/*Classes
---------------------*/
.caixa-perguntas{
    background-color: #302f2f;
    height: 80px;
}

.p-perguntas{
    font-size: 30px;
    margin-bottom: 0;
}

.p-respostas{
    padding: 10px 20px;
}

.final_perguntas{
    font-size: 21px; 
    text-align: center;
    margin-top: 50px;
}

/*Nav
---------------------*/
.navbar {
    padding: 0;
}

/*Nav Itens
---------------------*/
.form-control {
    background-color: rgba(35, 18, 18, 0.551);
}

.form-control:focus{
    background-color: black;
}

select > option{
    background-color: white;
    color: black;
}

.btn-danger {
    color: #fff;
    background-color: red;
    border-color: red;
}

.btn-danger:hover{
    background-color: #d60e0e;
    border-color: #d60e0e;
}

.btn{
    font-weight: bold;
    width: 70px;
}

/*Topo - Home
---------------------*/
a#email, a#email_final{
    width: 185px;
    height: 56px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 1.5em;
}

#capa{
    text-align: center;
    margin-bottom: 50px;
}

/*Perguntas
------------------*/
section#perguntas{
    height: 970px;
}
.caixa-perguntas:hover{
    cursor: pointer;
    background-color: #454444;
}

.caixa-perguntas:active{
    cursor: pointer;
    background-color: #454444;
}

.caixa-resposta{
    margin-top: 19px;
    background-color: #302f2f;
    border-top: 1px solid black;
    width: 1140px;
}

#icon_1{
    padding-left: 840px;
}

#icon_2{
    padding-left: 765px;
}

#icon_3{
    padding-left: 810px;
}

#icon_4{
    padding-left: 740px;
}

#icon_5{
    padding-left: 630px;
}

#icon_6{
    padding-left: 612px;
}

#resposta_1{
    cursor: auto;
    display: none;
    margin-bottom: 500px;
}

#resposta_2{
    cursor: auto;
    display: none;
    margin-bottom: 500px;
}

#resposta_3{
    cursor: auto;
    display: none;
    margin-bottom: 500px;
}

#resposta_4{
    cursor: auto;
    display: none;
    margin-bottom: 500px;
}

#resposta_5{
    cursor: auto;
    display: none;
    margin-bottom: 500px;
}

#resposta_6{
    cursor: auto;
    display: none;
    margin-bottom: 500px;
}

/*Rodapé
----------------*/
#caixa_final{
    margin: 70px 0 5px 0;
}

.p_final{
    color: #ffffffb3;
    font-weight: 500;
    font-size: 1.2em;
}

.link_final{
    color: #ffffffb3;
    text-decoration: underline;
}

ul>li{
    font-size: 14px;
    padding: 6px 0;
    color: #ffffffb3;
    text-decoration: underline;
    font-weight: bold;
}

/*GITHUB
-----------------*/
a#github{
    font-size: 1em;
    color: red;
}

